@use '../styles/mixins' as m;

.tc-main {
  min-height: 60vh;
  padding-bottom: 72px;

  @include m.from(md) {
    padding-bottom: 0;
  }

  &--admin {
    padding-bottom: 0;
    min-height: 100vh;
  }
}
